.App {
  position: relative;
}

.App .private {
  position: fixed;
  top: 80%;
  left: 2%;
  width: 100px;
  height: 100px;
  background-color: #ff6900;
  border-radius: 50px;
  z-index: 7;
  cursor: pointer;
}

.App .cookies {
  color: white;
  top: 10%;
  position: fixed;
  left: 25%;
  z-index: 6;
  background-color: #525061;
  margin: auto;
  width: 50%;
  padding: 30px;
  font-size: 25px;
  -webkit-box-shadow: 100px 100px 800px 1000px rgba(0, 0, 0, 0.2), 100px 106px 120px 1000px rgba(0, 0, 0, 0.19);
          box-shadow: 100px 100px 800px 1000px rgba(0, 0, 0, 0.2), 100px 106px 120px 1000px rgba(0, 0, 0, 0.19);
}

.App .cookies .cancel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .cookies .cancel img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.App .cookies .privacySet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.App .cookies .privacySet p {
  margin-bottom: 20px;
}

.App .cookies .set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.App .cookies .set div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.App .cookies .set div p {
  border-bottom: #bcbac8 4px solid;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}

.App .cookies .set div p:hover {
  border-bottom: solid white 4px;
}

.App .cookies .seetings .permission {
  margin-bottom: 30px;
}

.App .cookies .seetings .nec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid #bcbac8;
  margin-bottom: 10px;
}

.App .cookies .seetings .nec p {
  margin-bottom: 10px;
}

.App .cookies .seetings .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.App .cookies .seetings .switch .coo {
  width: 70%;
}

.App .cookies .cook {
  margin-bottom: 40px;
}

.App .cookies .cookPolicy {
  overflow-y: scroll;
  height: 50vh;
}

.App .cookies .cookPolicy p {
  margin-bottom: 30px;
}

.App .cookies .cookPolicy h3 {
  margin-bottom: 20px;
}

.App .cookies .accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .cookies .accept button {
  margin-bottom: 20px;
  width: 100%;
  background-color: #ff6900;
  color: #bcbac8;
  padding: 10px;
  border-radius: 10px;
  border: none;
  height: 60px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.App .cookies .accept div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .cookies .accept div button {
  width: 49%;
}

@media only screen and (max-width: 1230px) {
  .App .cookies {
    width: 70%;
    left: 15%;
  }
}

@media only screen and (max-width: 834px) {
  .App .cookies {
    width: 90%;
    left: 5%;
  }
}

@media only screen and (max-width: 998px) {
  .App .private {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 542px) {
  .App .cookies {
    width: 100%;
    left: 0;
  }
}
/*# sourceMappingURL=App.css.map */